<p>Last checked on: <%= @timestamp %></p>

<div class="datagrid" style="display: block;">
  <table>
    <thead>
      <tr>
        <th>Site url</th>
        <th>Status</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <% @result.each_with_index do |value, i| %>
        <tr class="domain alt">
          <% site, status, labels = value[:domain], value[:status], value[:labels] %>
          <td<%= " class=\"click\"" if labels.any? %>><%= site %></td>
          <td>
            <% if status == true && labels.any? { |l| l[:status] == false } %>
              <img src="/warning.png">
            <% elsif status == true %>
              <img src="/ok.png">
            <% else %>
              <img src="/error.png">
            <% end %>
          </td>
          <td><a href="<%= site %>" target="_blank">Link</a></td>
        </tr>
        <% if labels.any? # make sure labels array not empty%>
        <tr class="subdomain" style="display: none;">
          <td colspan="3">
            <table>
              <tbody>
              <% labels.each do |label_hash| %>
                <% label, l_status = label_hash[:label], label_hash[:status] %>
                <tr>
                  <td><%= label %></td>
                  <td>
                    <% if l_status == true %>
                      <img src="/ok.png">
                    <% else %>
                      <img src="/error.png">
                    <% end %>
                  </td>
                  <td><a href="<%= site+label %>" target="_blank">Link</a></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </td>
        </tr>
        <% end %>
      <% end %> 
    </tbody>
  </table>
</div>
